
html, body {
  height: 100%;
  overflow-x: hidden;
  overflow-y: auto;
  -webkit-overflow-scrolling: touch;
}
/* Body styles */
body {
  width: 100%;
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-style: normal;
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
  overflow-x: hidden;
  background-color: white;
}

/* Full-height sections */
.block,.hero-wrap, .hero-section, main, .blog-section, .contact-section {
  min-height: 100vh;
  width: 100%;
}

/* Media element styles */
img, picture, video, canvas, svg {
  display: block;
  max-width: 100%;
}

/* Form element inheritance */
input, button, textarea, select {
  font: inherit;
}

/* Text wrapping for headings and paragraphs */
p, h1, h2, h3, h4, h5, h6 {
  overflow-wrap: break-word;
}

/* Isolation for root elements */
#root, #__next {
  isolation: isolate;
}

/* Custom scrollbar styles */
::-webkit-scrollbar {
  width: 6px;
  height: 0px;
}

::-webkit-scrollbar-track {
  background-color: #dfe9eb;
  border-radius: 5px;
}

::-webkit-scrollbar-track:hover,
::-webkit-scrollbar-track:active {
  background-color: #b8c0c2;
}

::-webkit-scrollbar-thumb {
  background-color: #1ae9ab;
  border-radius: 5px;
}

/* Hide scrollbar for specific elements */
.block, .hero-section, main, .blog-section, .contact-section, footer {
  scrollbar-width: none;  /* Firefox */
  -ms-overflow-style: none;  /* IE and Edge */
}

.block::-webkit-scrollbar,
.hero-section::-webkit-scrollbar,
main::-webkit-scrollbar,
.blog-section::-webkit-scrollbar,
.contact-section::-webkit-scrollbar,
footer::-webkit-scrollbar {
  display: none;  /* Chrome, Safari and Opera */
}
